@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  width: 1440px;
  height: 2183px;
  position: relative;
  background: #FFFFFF;
  font-family: Roboto;
}

header {
  position: relative;
  width: 1440px;
  height: 90px;
  left: 0px;
  top: 0px;
}

.logo {
  position: absolute;
  left: 40px;
  top: 31px;
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #1B1B1B
}

a {
  cursor: pointer;
}

a:hover {
  font-weight: bold;
}

.about {
  position: absolute;
  width: 42px;
  height: 19px;
  right: 437px;
  top: 35px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #1B1B1B;
}

.conditions {
  position: absolute;
  width: 64px;
  height: 19px;
  right: 343px;
  top: 35px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #1B1B1B;
}

.questions {
  position: absolute;
  width: 130px;
  height: 19px;
  right: 186px;
  top: 35px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #1B1B1B;
}

.btn {
  display: flex;
  flex-direction: row;
  padding: 12px 30px;
  position: absolute;
  width: 106px;
  height: 43px;
  right: 40px;
  top: 23px;
  border: 1px solid rgba(27, 27, 27, 0.4);
  box-sizing: border-box;
  border-radius: 6px;
  cursor: pointer;
}

.btn_text {
  position: static;
  left: 28.3%;
  right: 28.3%;
  top: 27.91%;
  bottom: 27.91%;
  font-style: normal;
  font-weight: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #1B1B1B;
  flex: none;
  order: 0;
  align-self: center;
  margin: 10px 0px;
}

.btn:hover {
  background-color: #F7F9FB;
  font-weight: bold;
}

.about_us_svg {
  position: absolute;
  width: 397px;
  height: 300px;
  left: 522px;
  top: 170px;
}

.about_us_header {
  position: absolute;
  left: 637px;
  top: 531px;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 120%;
  /* identical to box height, or 77px */
  text-align: center;
  /* Black */
  color: #1B1B1B;
}

.about_us_text {
  position: absolute;
  width: 925px;
  height: 105px;
  left: 258px;
  top: 638px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 147.3%;
  text-align: center;
  color: #1B1B1B;
}

.contacts {
  position: absolute;
  width: 1440px;
  height: 341px;
  left: 0px;
  top: 823px;
  background: #F7F9FB;
}

.contacts_header {
  position: absolute;
  left: 607px;
  top: 80px;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  /* Black */
  color: #1B1B1B;
}

.email_header {
  position: absolute;
  width: 264px;
  height: 21px;
  left: 387px;
  top: 181px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 147.3%;
  text-align: center;
  color: #4F4F4F;
}

.email_text {
  position: absolute;
  width: 264px;
  height: 29px;
  left: 387px;
  top: 208px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 147.3%;
  text-align: center;
  color: #000000;
}

.phone_header {
  position: absolute;
  width: 264px;
  height: 21px;
  left: 789px;
  top: 181px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 147.3%;
  text-align: center;
  color: #4F4F4F;
}

.phone_text {
  position: absolute;
  width: 264px;
  height: 29px;
  left: 789px;
  top: 208px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 147.3%;
  text-align: center;
  color: #000000;
}

.team {
  position: absolute;
  width: 980px;
  height: 695px;
  left: 229px;
  top: 1244px;
}

.team_header {
  position: absolute;
  width: 203px;
  height: 58px;
  left: 389px;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #1B1B1B;
}

.team1 {
  position: absolute;
  width: 196px;
  height: 261px;
  left: 8px;
  top: 113px;
}

.team2 {
  position: absolute;
  width: 196px;
  height: 261px;
  left: 269px;
  top: 113px;
}

.team3 {
  position: absolute;
  width: 196px;
  height: 261px;
  left: 531px;
  top: 113px;
}

.team4 {
  position: absolute;
  width: 196px;
  height: 261px;
  left: 792px;
  top: 113px;
}

.team5 {
  position: absolute;
  width: 196px;
  height: 261px;
  left: 269px;
  top: 434px;
}

.team6 {
  position: absolute;
  width: 196px;
  height: 261px;
  left: 531px;
  top: 434px;
}

.Ellipse {
  position: absolute;
  width: 180px;
  height: 180px;
  left: 8px;
  top: 0px;
}

.name {
  position: absolute;
  width: 196px;
  height: 29px;
  left: 0px;
  top: 203px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 147.3%;
  text-align: center;
  color: #000000;
}

.position {
  position: absolute;
  width: 196px;
  height: 21px;
  left: 0px;
  top: 240px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 147.3%;
  text-align: center;
  color: #828282;
}

footer {
  position: relative;
  width: 1440px;
  height: 124px;
  left: 0px;
  top: 2059px;
  background: #3F3D56;
}

.footer_text {
  position: absolute;
  width: 152px;
  height: 19px;
  left: 40px;
  top: 53px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  opacity: 0.4;
}

.vk {
  position: absolute;
  left: 1278.67px;
  top: 48.67px;
  fill: #FFFFFF;
  opacity: 0.4;
  cursor: pointer;
}

.inst {
  position: absolute;
  left: 1324.67px;
  top: 48.67px;
  fill: #FFFFFF;
  opacity: 0.4;
  cursor: pointer;
}

.face {
  position: absolute;
  left: 1370.67px;
  top: 48.67px;
  fill: #FFFFFF;
  opacity: 0.4;
  cursor: pointer;
}

.vk:hover {
  fill: #F7F9FB;
  opacity: 1;
}

.inst:hover {
  fill: #F7F9FB;
  opacity: 1;
}

.face:hover {
  fill: #F7F9FB;
  opacity: 1;
}
